[Unit]
Description=runs only upon shutdown
Before=poweroff.target

[Service]
Type=idle
ExecStart=/bin/true
ExecStop=/opt/pipoe/removepower.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
